<link rel="stylesheet" href="/admin/css/layout/footer.css">

<footer class="app-footer mt-auto">
    <div class="container-fluid px-4">
        <div class="footer-inner small">
            <div class="text-muted">Copyright &copy; MinhVuong &amp; QuocHuynh</div>
            <div class="footer-links">
                <a href="#" target="_blank">Website</a>
                &middot;
                <a href="#" target="_blank">LaptopShop</a>
            </div>
        </div>
    </div>
</footer>

<style>
    
</style>