<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Tính năng</div>
                <a class="nav-link" href="/admin">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>

                <a class="nav-link" href="/admin/user">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Người dùng
                </a>

                <a class="nav-link" href="/admin/product">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Sản phẩm
                </a>

                <a class="nav-link" href="/admin/order">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Đơn hàng
                </a>

                <!-- <div class="sb-sidenav-menu-heading">Quản lý nội dung</div> -->
                <a class="nav-link" href="/admin/blog">
                    <div class="sb-nav-link-icon"><i class="fas fa-blog"></i></div>
                    Blog
                </a>

                <!-- Mục khuyến mãi mới -->
                <a class="nav-link" href="/admin/promo">
                    <div class="sb-nav-link-icon"><i class="fas fa-tags"></i></div>
                    Khuyến mãi
                </a>
                <!-- Mã giảm giá -->
                <a class="nav-link" href="/admin/coupon">
                    <div class="sb-nav-link-icon"><i class="fas fa-ticket-alt"></i></div>
                    Mã giảm giá
                </a>

            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Đăng nhập bởi:</div>
            VuongHuynhIT-K3
        </div>
    </nav>
</div>